footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.8rem;
    padding-top: 10px;
}

.github-button {
    width: 26px;
    height: 25px;
    background-image: url("../images/github-icon.svg");
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.github-button:hover {
    transform: rotate(360deg);
}